{% extends 'accounts/baselogin.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

{% if error %}
  <p>{{error}}</p>
{% endif %}


<form class="login100-form validate-form" method="post">
  <span class="login100-form-title">
    Member Login
  </span>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
    <button type="submit" class="login100-form-btn">
      Login
    </button>



</form>


{% endblock %}
