{% extends 'Profiling/base.html' %}

{% block content %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Prescriptions</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Prescriptions </li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                          {% if prescriptionlist %}
                          {% load extra_filters %}


                            <ul style="list-style-type: none;">
                                  {% for presinfo in prescriptionlist %}
                              <li>
                            <div class="card-block">
                                <div class="card-header">
                                    <button class="btn-primary"> {{presinfo.visit_id.timestamp|get_date}} </button>
                                    <button class="btn-danger"> Checked by Dr. {{presinfo.visit_id.doctor.get_full_name}}
                                  </div>


   <li class="list-group-item"> <div class="card-body">
<h5 class="card-title"><button type="button" class="btn btn-light">Comments</button></h5>
<p class="card-text"> {{presinfo.comments}}</p>
</div></li>
   <li class="list-group-item"><div class="card-body">
<h5 class="card-title"><button type="button" class="btn btn-light">Prescriptions</button></h5>
<p class="card-text"> {{presinfo.prescription}}</p>
</div></li>
</li>
 {% endfor %}
</ol>



                              {% else %}
                              <p> Not available </p>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>

    {% endblock %}
