{% extends 'Profiling/base.html' %}

{% load static %}

{% block content %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{{profileobject.profile_image.url}}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10"><strong> {{profileobject.first_name}} {{profileobject.last_name}} </strong> </h4>
                                    <h6 class="card-subtitle">Date of birth: {{profileobject.dob}}</h6>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                              <h1 class="card-title"> Profile Information </h1>
                              <div class="row">
                              <div class="col-3"> First Name:</div><div class="col-9">{{profileobject.first_name}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Middle Name:</div><div class="col-9">{{profileobject.middle_name}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Last Name:</div><div class="col-9">{{profileobject.last_name}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Date of Birth: </div><div class="col-9">{{profileobject.dob}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Sex: </div><div class="col-9">{{profileobject.sex}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Email: </div><div class="col-9">{{profileobject.email}}</div> </div>
                              <div class="row">
                              <div class="col-3"> Phone Number: </div><div class="col-9">{{profileobject.phone_num}}</div> </div>


                            </div>
                            <div class="card-footer text-muted">
  </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
          {% endblock %}
