{% extends 'Profiling/base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block content %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{% static '{{profileobject.profile_image}}' %}" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10"><strong> {{profileobject.first_name}} {{profileobject.last_name}} </strong> </h4>
                                    <h6 class="card-subtitle">Date of birth: {{profileobject.dob}}</h6>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                      <div class="card form_edit">
                        <form method="POST" class="post-form">{% csrf_token %}
                          {% for hidden_field in form.hidden_fields %}
                        	{{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        	<div class="form-group">
                        		{{ field.label_tag }}
                        		{% render_field field class="form-control" %}
                        		{% if field.help_text %}
                        			<small class="form-text text-muted">{{ field.help_text }}</small>
                        		{% endif %}
                        	</div>
                        {% endfor %}
    <center> <button type="submit" class="save btn btn-lg btn-primary">Save</button> </center>
                          </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
          {% endblock %}
