{% extends 'Profiling/base.html' %}
{% block content %}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Timeline</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Timeline</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Timeline</h4>
                                <h6 class="card-subtitle">Medical Timeline</h6>
                                <div class="timeline">
  <div class="container">
    <div class="content">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        {% if medicaltimeline %}
          {% for info in medicaltimeline %}
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{info.doctor}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{info.timestamp}} </small></p>
            </div>
            <div class="timeline-body">
              <p>{{info.visit_id}}</p>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>
</div>

                                {% else %}
                                <p> No timeline available. </p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>

          </div>
          {% endblock %}
