{% extends 'Profiling/baseinitializer.html' %}
{% load staticfiles %}




{% block content %}

    <body>

      <script type="text/javascript" src="{% static 'instascan.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery.js' %}"></script>

        <div align="left">
            <video id="preview" height="500px" width="500px"></video>
        </div>


    </body>

    <h1> Please scan your QR Code to continue </h1> 
    <script type="text/javascript">
        //AJAX requests will always get the csrftoken
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        });
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {

            //ajax request to server
            $.ajax({
            type : "POST",
            url: "",
            data: {
                code: content,
            },
            success:function(data){
                var tail = data.split('=')[1];
                var user_timestamp = tail.split('<')[0];
                user_timestamp = user_timestamp.split('.')[0]
                redir(user_timestamp);
            },

        });
        // $.post("", {code:content}, function(data){
        //     alert(data)
        //     console.log(data)
        //     if(data.success){
        //         redir(data.user);
        //     }else{
        //         console.log('invalid QR')
        //     }
        // }).done(function(data){
        //     console.log(data);
        // }).fail(function(){
        //     console.log('error')
        // })

        function redir(user_timestamp){
            window.location = '/set_visit/' + user_timestamp;
        }
        });
        Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        } else {
            console.error('No cameras found.');
        }
        }).catch(function (e) {
            console.error(e);
        });
    </script>

    {% endblock %}
